<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
</head>
<body>
<a href="../../index.html">Back</a>
<div class="nav" id="mynav">
  <a href="#home" class="home active">Home</a>
  <a href="#login" class="login">Login</a>
  <a href="#contact" class="contact">Contact</a>
  <a href="#about" class="about">About</a>
  <a href="javascript:void(0);" class="icon">
    <img src="images/burger.png" width="17px">
  </a>
</div>

<div style="padding-left:16px">
  <h2 style="text-align:center;">Navbar Components using Jquery</h2>

  <ul>
    <li><span class="red">.nav</span> and <span class="red">#mynav</span> are the class and id need to be declared to initialize the navbar.</li>
    <li><span class="red">.active</span> for the default selected element.</li>
    <li><span class="red">.icon</span> for the responsive behaviour when used in a compact device.</li>
  </ul>
  <!-- Please ignore -->
  <p style="font-size:20px;">Code</p>
  <div class="code give-border">
    <span class="white">&lt;</span><span class="red">div</span> <span class="orange">class=</span><span class="green">"nav"</span><span class="blue"> id=</span><span class="green">"mynav"</span><span class="white">></span><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="white">&lt;</span><span class="red">a</span><span class="orange"> href=</span><span class="green">"#home"</span> <span class="orange">class=</span><span class="green">"home active"</span><span class="white">>Home&lt;/</span><span class="red">a</span><span class="white">></span><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="white">&lt;</span><span class="red">a</span><span class="orange"> href=</span><span class="green">"#login"</span> <span class="orange">class=</span><span class="green">"login"</span><span class="white">>Login&lt;/</span><span class="red">a</span><span class="white">></span><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="white">&lt;</span><span class="red">a</span><span class="orange"> href=</span><span class="green">"#contact</span> <span class="orange">class=</span><span class="green">"contact"</span><span class="white">>Contact&lt;/</span><span class="red">a</span><span class="white">></span><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="white">&lt;</span><span class="red">a</span><span class="orange"> href=</span><span class="green">"#about"</span> <span class="orange">class=</span><span class="green">"about"</span><span class="white">>About&lt;/</span><span class="red">a</span><span class="white">></span><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="white">&lt;</span><span class="red">a</span><span class="orange"> href=</span><span class="green">"javascript:void(0);"</span><span class="orange">class=</span><span class="green">"icon"</span><span class="white">></span><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="white">&lt;</span><span class="red">img</span><span class="orange"> src=</span><span class="green">"images/burger.png"</span><span class="orange"> width=</span><span class="green">"17px"</span><span class="white">></span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="white">&lt;/</span><span class="red">a</span><span class="white">></span><br>
    <span class="white">&lt;/</span><span class="red">div</span><span class="white">></span>
  </div>
  <!-- Please ignore -->
</div>


<script src="index.js"></script>

</body>
</html>
