<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="index.js"></script>
</head>
<body>
<a href="../../index.html">Back</a>
  <center>
  <h1 class="h1"style="text-align: center;">Collapse component using JQUERY</h1>
  <h3>Example</h3>
<h4>Click the buttons below to show and hide another element via class changes</h4><br>
<div>
  <span class="red">.collapse-header</span> hide/unhide the content &nbsp;&nbsp;&nbsp;<br>
  <span class="red">.collapse-content</span> display the content inside<br></div>
<br><br>

  <div class="collapse">
    <button class="collapse-header">
      click me!
    </button>
    <div class="collapse-content give-border">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
dwenasb dv ajhmnb
</div></div>
  <h2>Code</h2>

  <!-- Please ignore -->
  <div class="code give-border">
      <span class="white">&lt;<span class="red">div</span> <span class="orange">class</span><span class="orange">=</span><span class="green">"collapse"</span><span class="white">></span><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="white">&lt;</span><span class="red">button</span> <span class="orange">class=</span><span class="green">"collapse-header"</span><span class="white">>click me!&lt;/</span><span class="red">button<span class="white">><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="white">&lt;</span><span class="red">div</span> <span class="orange">class=</span><span class="green">"collapse-content give-border"</span><span class="white">></span><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;your content to collapse<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="white">&lt;/</span><span class="red">div</span><span class="white">></span><br>
      <span class="white">&lt;/</span><span class="red">div</span><span class="white">></span>
  </div>
  <!--  Please ignore-->
<h4></h4>
</center>
</body>
</html>
