<!DOCTYPE html>
<html >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="style.css">
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
</head>
<body>
  <a href="../../index.html">Back</a>
<div align="center">
	<br><br><center><h1>Modal Components using Jquery</h1></center><br><br>
	<a href="#modalScreen" class="click">Click here to see the code</a>
</div>
<div id="modalScreen">
    <a href="#" class="modal-cancel">&times;</a>
    <div class="container"><center><br>
      <div class="modal-header">CODE</div><br>
      <div class="modal-inner">
          <div class="code give-border">

          <span class='white'>&lt;</span>
            <span class="red">a</span> <span class="orange">href=</span><span class="green">"#modalScreen"</span> <span class="orange">class=</span><span class="green">"click"</span><span class="white">>Click me!<&#47;</span><span class="red">a</span><span class="white">><br>
          <span class='white'>&lt;</span><span class="red">div</span> <span class="orange">id=</span><span class="green">"modalScreen"</span>><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class='white'>&lt;</span><span class="red">a</span> <span class="orange">href=</span><span class="green">"#"</span> <span class="orange">class=</span><span class="green">"modal-cancel"</span><span class="white">>&times;&lt;/</span><span class="red">a</span><span class="white">></span><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class='white'>&lt;</span><span class="red">div</span> <span class="orange">class=</span><span class="green">"container"</span>><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class='white'>&lt;</span><span class="red">div</span> <span class="orange">class=</span><span class="green">"modal-header"</span><span class="white">><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Header<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &lt;/</span><span class="red">div</span><span class="white">></span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class='white'>&lt;</span><span class="red">div</span> <span class="orange">class=</span><span class="green">"modal-inner"</span><span class="white">><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          ...</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="white">&lt;/</span><span class="red">div</span><span class="white">><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/</span><span class="red">div</span><span class="white">></span><br>
          <span class="white">&lt;/</span><span class="red">div</span><span class="white">></span>


        </div></center>
          <ul>
            <li><span class="red">#modalScreen</span> and <span class="red">.click</span> (button behaviour)</li>
            <li><span class="red">.modal-cancel</span> (Close button)</li>
            <li><span class="red">.container</span> (Modal contents)</li>
            <li><span class="red">.modal-header</span> (Modal header content)</li>
            <li><span class="red">.modal-inner</span> (Modal Inner content)</li>
          </ul>
        </div></div>
</div>
<div id="cover">
</div>
<script src="index.js"></script>
</body>
</html>
